

.medicine-row:last-child {
  border-bottom: none;
}

.back-btn {
  margin-top: 40px;
}
</style>
</head>

<body>

  {% include "navbar.html" %}

<div class="wrapper">

  <!-- ================= IMAGE ================= -->
  <div class="prescription-image">
    <h4 class="section-title">PRESCRIPTION IMAGE</h4>
    {% if prescription.image %}
      <img src="{{ prescription.image.url }}">
    {% else %}
      <p>No image available</p>
    {% endif %}
  </div>


  <!-- ================= MEDICINES ================= -->
  <h4 class="section-title">MEDICINE DETAILS</h4>

  <div class="medicine-table">

    <div class="medicine-col">
      <div class="medicine-col-header col-name">Medicine</div>
      {% for med in medicines %}
        <div class="medicine-row">{{ med.name }}</div>
      {% endfor %}
    </div>

    <div class="medicine-col">
      <div class="medicine-col-header col-dosage">Dosage</div>
      {% for med in medicines %}
        <div class="medicine-row">{{ med.dosage }}</div>
